@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <p>Программа платная поликлинника "Будьте Больны" предназначена для ведения расчетов по имеющимся посещениям.</p>
        <p>Клиенты могут выбирать позиции из списка докторов.</p>
        <p>Посещения оплачиваются либо полностью сразу, либо оформляется в рассрочку, если клиент не может внести всю сумму целиком.</p>
    </div>
