@{ ViewData["Title"] = "Создание Договора"; }
<h3>Создание договора</h3>

<hr />
<div>
    <a class="text-dark" asp-action="Dogovor">Вернуться назад</a>
</div>
<hr />

<div class="row">
    <input type="datetime-local" name="calendar" 
           max="2020-01-01" min="2021.01.01">
    <label class="control-label"> Сумма Договора: @ViewBag.Itog</label>
    <table class="table">
        <tr>
            <td></td>
            <td>Рейс</td>
        </tr>
        @foreach (var reis in ViewBag.ReisDogovor)
        {
            <tr>
                <td>@reis.Id</td>
                <td>

                    @Html.ActionLink("Удалить", "Delete", new { id = reis.Id })
                </td>
            </tr>
        }
    </table>
</div>