@{
    ViewData["Title"] = "Клиенты";
}
@model Dogovor

<div class="text-left">
    <h4>Договора клиента Program.ClientId</h4>
</div>
<td>
    <a class="btn btn-primary btn-sm" asp-action="Dogovor" asp-route-id="@">Добавить</a>|
</td>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Сумма</td>
        <td>Дата</td>
    </tr>
    @foreach (var dogovor in ViewBag.dogovors)
    {
        <tr>
            <td>@dogovor.Id</td>
            <td>@dogovor.Summa</td>
            <td>@dogovor.data</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Dogovor" asp-route-id="@dogovor.Id">Редактировать</a>|
            </td>
        </tr>
    }
</table>