@model WebClient.Areas.Agent.Models.RegistrationModel

@{ ViewData["Title"] = "Оттчеты"; }

<div class="text-left text-info">
    <h1>@ViewData["Title"]</h1>
</div>
@using (Html.BeginForm("Report", "ReportMonth"))
{
<p>
    @Html.ListBox("Month",
                                       new MultiSelectList(new string[] { "Январь", "Февраль", "Март", "Апрель"
                , "Май", "Июнь", "Июль"
                , "Август", "Сентябрь", "Октябрь"
                , "Ноябрь", "Декабрь"}))
</p>
                                <input type="submit" value="Отчет за последний месяц" class="btn btn-info btn-sm" />
 }


