@{ ViewData["Title"] = "Оттчеты"; }

<div class="text-left text-info">
    <h1>@ViewData["Title"]</h1>
</div>
@Html.ActionLink("Диаграмма", "Diagramma")
@Html.ActionLink("Пееркрестный отчет", "PereReport")

