
@{ ViewData["Title"] = "Home Page"; }
@if(@Program.Agent==null)
{
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Проектирование информационно-справочной системы
        агентства перевозок груза
    </p>
    <p>
        Агентство предоставляет клиентам данные об имеющихся рейсах (куда, объем и вес груза, цена, сервис,
        продолжительность), оформляет договора на грузоперевозку, учитывает работу агентов и выплачивает им зарплату.
        Бухгалтерия оформляет путевки, учитывает денежные средства, ведет список агентов.
    </p>
    <p>Разработчики: Гордеева Екатерина</p>
</div>

}
@if(@Program.Agent!=null){
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Проектирование информационно-справочной системы
        агентства перевозок груза
    </p>
    <p>
        Каждый договор ведет выделенный сотрудник (агент), который получает комиссионные от суммы договора. Договор
        может быть заключен на несколько однотипных перевозок. Агент находит клиентов, заключает с ними договора,
        предоставляет рекламную информацию о перевозках. В конце месяца он составляет отчет о работе для бухгалтерии.
    </p>
    <p>Разработчики: Гордеева Екатерина</p>
</div>
}
