@model WebClient.Areas.Buhgalter.Models.AgentListModel
@{
    ViewData["Title"] = "Договора";
}
<div class="text-center">
    <h2>Договора агента @ViewBag.Agent</h2>
</div>
<table class="table">
    <tr>
        <td>Номер</td>
        <td>Сумма</td>
        <td>Дата</td>
    </tr>
    @foreach (var dogovor in ViewBag.dogovors)
    {
        <tr>
            <td>@dogovor.Id</td>
            <td>@dogovor.Summa</td>
            <td>@dogovor.data</td>
        </tr>
    }
</table>