
@{ ViewData["Title"] = "Home Page"; }
<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Проектирование информационно-справочной системы
        агентства перевозок груза
    </p>
    <p>
        Агентство предоставляет клиентам данные об имеющихся рейсах (куда, объем и вес груза, цена, сервис,
        продолжительность), оформляет договора на грузоперевозку, учитывает работу агентов и выплачивает им зарплату.
        Бухгалтерия оформляет путевки, учитывает денежные средства, ведет список агентов.
    </p>
    <p>Разработчики: Гордеева Екатерина, Бухаров, Кудинов</p>
</div>
