
@{ ViewData["Title"] = "Личный кабинет"; }

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>

<p>Имя: @ViewBag.Agent.Name</p>
<p>Оклад: @ViewBag.Agent.Oklad</p>
<p>Процент комиссионных: @ViewBag.Agent.Comission</p>


