@model WebClient.Areas.Buhgalter.Models.ZarplataModel

@{
    ViewData["Title"] = "Зарплата";
}
<div class="text-center text-info">
    <h1>Рассчет зп</h1>
</div>
<form method="get">
    <div class="form-inline">
        @Html.ListBox("Month", new MultiSelectList(new string[] { "Январь", "Февраль", "Март", "Апрель"
                   , "Май", "Июнь", "Июль"
                   , "Август", "Сентябрь", "Октябрь"
                   , "Ноябрь", "Декабрь"}))

        <input type="submit" asp-action="Zarplata" value="Рассчет за месяц" class="btn btn-info" />
        <input type="submit" asp-action="Zarplata" name="valueINeed" value="Рассчет за год" class="btn btn-info" />
        <input type="submit" asp-action="Statements" value="Ведомости" class="btn btn-info" />
    </div> 
</form>
<p><b>Сумма рассчитанной заработной платы: </b>@ViewBag.Zp</p>