@model КурсоваяПис.BindingModel.Dogovor_ReisBM

@{ ViewData["Title"] = "Пополнение"; }

<div class="text-left">
    <h4>Изменение договора  №@ViewBag.DogovorId</h4>
</div>

<hr />
<div>
    <a class="text-dark" asp-action="ChangeReis" asp-route-id="@ViewBag.DogovorId">Вернуться назад</a>
</div>
<hr />

<div class="text-left">
    <h4>Перевозка: @ViewBag.ReisName</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Dogovor" asp-action="AddReis" >
            <input type="hidden" asp-for="DogovorId" />
            <input type="hidden" asp-for="ReisId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comm" class="control-label">Comm</label>
                <input asp-for="Comm" class="form-control" />
                <span asp-validation-for="Comm" class="text-danger"></span>
                <label asp-for="ves" class="control-label">Ves</label>
                <input asp-for="ves" class="form-control" />
                <span asp-validation-for="ves" class="text-danger"></span>
                <label asp-for="Obem" class="control-label">Obem</label>
                <input asp-for="Obem" class="form-control" />
                <span asp-validation-for="Obem" class="text-danger"></span>
                <label asp-for="Nadbavka" class="control-label">Nadbavka</label>
                <input asp-for="Nadbavka" class="form-control" />
                <span asp-validation-for="Nadbavka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Пополнить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>