@model WebClient.Models.CreateReisModel

@{
    ViewData["Title"] = "Создать посещение";
}

<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <p>Состав:</p>
    <table class="table">
        <tr>
            <td>Доктор</td>
            <td>Специализация</td>
            <td>Длительность</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
   
    </table>

    <button type="submit" class="btn btn-info btn-sm">Создать</button>
}
